SECRET_KEY=your_secret_key_here
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=rommagic
ROM_UPLOAD_PATH=ROMs
THEGAMESDB_API_KEY=your_api_key_here
SCREENSCRAPER_DEV_ID=your_screenscraper_dev_id_here
SCREENSCRAPER_DEV_PASSWORD=your_screenscraper_dev_password_here
SCREENSCRAPER_SOFTNAME=rommagic
SCREENSCRAPER_USER=your_optional_screenscraper_user_here
SCREENSCRAPER_PASSWORD=your_optional_screenscraper_password_here
MIGRATION_SECRET_KEY=your_migration_secret_key_here
TIMEZONE=Europe/Budapest

